workflows
[{"createdAt":"2025-08-07T15:58:42.370Z","updatedAt":"2025-08-07T18:05:57.000Z","id":"OrTxxJLd2dLtfbpx","name":"My workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wix-intake","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,0],"id":"ef25705f-8a3c-4c1e-9f53-7d559aa5f70d","name":"Webhook","webhookId":"4cc4b1d3-cbea-461d-8d69-13fb6173f341"},{"parameters":{"jsCode":"// 1️⃣ Grab Wix form object\nconst d = $json.body.data;     // shorter alias\n\n// 2️⃣ Build a flat object for downstream nodes\nconst order = {\n  orderId: d.submissionId,                       // any unique id\n  customerEmail: d[\"field:parent_email\"],\n  customerName: d[\"field:parent_first_and_last_name\"],\n  // subtotal is unknown yet – set 0 for now\n  subtotal: 0,\n  stops: 1,\n  serviceFee: 0,                                 // will calculate later\n  raw: d                                         // keep entire payload if you want\n};\n\n// 3️⃣ Return as new item\nreturn [{ json: order }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,0],"id":"eeb6f3c1-c35c-4d45-8c30-29631b240bf5","name":"Code"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1d4FhyO3IPeuGt5ebP7vVjsykPhLCynv8V2tQzlRWdfQ","mode":"list","cachedResultName":"Orders_POC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d4FhyO3IPeuGt5ebP7vVjsykPhLCynv8V2tQzlRWdfQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d4FhyO3IPeuGt5ebP7vVjsykPhLCynv8V2tQzlRWdfQ/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"customerEmail","displayName":"customerEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"customerName","displayName":"customerName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subtotal","displayName":"subtotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"serviceFee","displayName":"serviceFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stops","displayName":"stops","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qboId","displayName":"qboId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,0],"id":"c856ee2a-1b2c-44a7-a3dc-28c9f8de223d","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"ZAEqXkemGrmv5aE5","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55f1d10c-dc00-47be-b605-a0ba97ac9f5c","triggerCount":1,"tags":[]}]